<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junction.mapper.UserMapper">

    <select id="selectById" resultType="com.junction.entity.User">
        SELECT * FROM `user` WHERE id = #{id}
    </select>

    <select id="selectByOpenId" resultType="com.junction.entity.User">
        SELECT * FROM `user` WHERE open_id = #{openId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (open_id, nickname, avatar_url, phone)
        VALUES (#{openId}, #{nickname}, #{avatarUrl}, #{phone})
    </insert>

    <update id="updateProfile">
        UPDATE `user` SET nickname = #{nickname}, avatar_url = #{avatarUrl} WHERE id = #{id}
    </update>

    <update id="updatePhone">
        UPDATE `user` SET phone = #{phone} WHERE id = #{id}
    </update>

</mapper>
